.ipsIconAir
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Air.svg); 
}
.ipsIconBarcode
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Barcode.svg); 
}
.ipsIconBarcodeBlue
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/BarcodeBlue.svg); 
}
.ipsIconBarcodeRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/BarcodeRed.svg); 
}
.ipsIconBarcodeGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/BarcodeGreen.svg); 
}
.ipsIconBarcodeYellow
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/BarcodeYellow.svg); 
}
.ipsIconCancel
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Cancel.svg); 
}
.ipsIconCancelRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/CancelRed.svg); 
}
.ipsIconClose
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Close.svg); 
}
.ipsIconCloseRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/CloseRed.svg); 
}
.ipsIconCoffee
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Coffee.svg); 
}
.ipsIconFan
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Fan.svg); 
}
.ipsIconFanGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/FanGreen.svg); 
}
.ipsIconFlame
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Flame.svg); 
}
.ipsIconFlameRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/FlameRed.svg); 
}
.ipsIconGlow
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Glow.svg); 
}
.ipsIconLight-0
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Light-0.svg); 
}
.ipsIconLight-100
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Light-100.svg); 
}
.ipsIconLinuxPC
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/LinuxPC.svg); 
}
.ipsIconMicrowave
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Microwave.svg); 
}
.ipsIconMonitor
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Monitor.svg); 
}
.ipsIconPressure
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Pressure.svg); 
}
.ipsIconRight
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Right.svg); 
}
.ipsIconRightGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/RightGreen.svg); 
}
.ipsIconRightRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/RightRed.svg); 
}
.ipsIconTablet
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Tablet.svg); 
}
.ipsIconSteckdose
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Steckdose.svg); 
}
.ipsIconSteckdoseGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/SteckdoseGreen.svg); 
}
.ipsIconSteckdoseRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/SteckdoseRed.svg); 
}
.ipsIconSteckdoseBlue
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/SteckdoseBlue.svg); 
}
.ipsIconSteckdoseYellow
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/SteckdoseYellow.svg); 
}
.ipsIconTelevision
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Television.svg); 
}
.ipsIconTelevisionGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/TelevisionGreen.svg); 
}
.ipsIconTemperature
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Temperature.svg); 
}
.ipsIconTemperatureBlue
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/TemperatureBlue.svg); 
}
.ipsIconTemperatureGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/TemperatureGreen.svg); 
}
.ipsIconTemperatureRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/TemperatureRed.svg); 
}
.ipsIconTemperatureYellow
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/TemperatureYellow.svg); 
}
.ipsIconTransparent 
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Transparent.png); 
}
.ipsIconWashingMachine
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/WashingMachine.svg); 
}
.ipsIconWindowsPC
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/WindowsPC.svg); 
}
