.ipsIconCancel
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Cancel.svg); 
}
.ipsIconClose
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Close.png); 
}
.ipsIconCloseRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/CloseRed.png); 
}
.ipsIconFlame
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Flame.png); 
}
.ipsIconFlameRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/FlameRed.png); 
}
.ipsIconPressure
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Pressure.png); 
}
.ipsIconLight-0
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Light-0.png); 
}
.ipsIconLight-100
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Light-100.png); 
}
.ipsIconRight
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Right.png); 
}
.ipsIconRightGreen
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/RightGreen.png); 
}
.ipsIconRightRed
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/RightRed.png); 
}
.ipsIconTransparent 
{ 
    color: transparent; min-height: 32px; min-width: 32px; background-position: center center; background-repeat: no-repeat; 
    background-image: url(icons/Transparent.png); 
}